# Настройки для сборки нативных модулей
python=/usr/bin/python
unsafe-perm=true
# Попытка использовать pre-built бинарники для bcrypt
bcrypt_binary_host_mirror=https://github.com/kelektiv/node.bcrypt.js/releases/download/
